<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina web | demo</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="index.js" type="module"></script>
</head>
<body>
    <div class="contenedor-principal">
        {{> titulo }}
        <div class="contenedor-tarjetas">
            <tarjeta-jugador data-id="0"></tarjeta-jugador>
            <tarjeta-jugador data-id="1"></tarjeta-jugador>
            <tarjeta-jugador data-id="2"></tarjeta-jugador>
            <tarjeta-jugador data-id="3"></tarjeta-jugador>
            <tarjeta-jugador data-id="4"></tarjeta-jugador>
        </div>
    </div>
</body>
</html>